  <!-- footer starts -->
    <div class="container">
      <footer class="footer bs-footer">
      <div class="row">
        <div class="col-md-4" >
              <p>Copyright &copy; 2006 - <span id="year"></span> <a href="{{urls.base_path}}">addhen.org</a></p>
        </div>
        <div class="col-md-8">
          <p class="pull-right social">
            <a href="http://careers.stackoverflow.com/eyedol" class="careers" title="Career profile"><i class="fa fa-book"></i></a>
            <a href="https://crowdmap.com/user/eyedol" class="crowdmap" title="Crowdmap profile"><i class="fa fa-globe"></i></a>
            <a href="https://twitter.com/eyedol" class="twitter" title="Twitter profile"><i class="fa fa-twitter"></i></a>
            <a href="https://plus.google.com/112261075950519851693" class="google-plus" title="Google+ profile"><i class="fa fa-google-plus"></i></a>
            <a href="https://gh.linkedin.com/in/henryaddo/" class="linkedin" title="Linkendin profile"><i class="fa fa-linkedin"></i></a>
            <a href="http://www.addhen.org/blog/feed/" class="rss" title="Rss feed"><i class="fa fa-rss"></i></a>
            <a href="http://www.flickr.com/photos/eyedol/" class="flickr" title="Flickr photos"><i class="fa fa-flickr"></i></a>
            <a href="http://stackoverflow.com/users/235930/eyedol" class="stackoverflow" title="Stackoverflow profile"><i class="fa fa-stack-overflow"></i></a>
            <a href="https://github.com/eyedol" class="github" title="Github profile"><i class="fa fa-github"></i></a>
          </p>
        </div>
      </div>
    </footer>
    </div>
  <!-- footer ends -->
  {{# javascripts.load }}
    http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js
    //netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js
    http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js
    bootstrap-image-gallery.js
    jquery.mCustomScrollbar.concat.min.js
    isotope.js
    flickr.js
  {{/ javascripts.load }}
  {{{ widgets.analytics }}}
</body>